{% extends 'base.html' %}

{% block title %}Nowe hasło{% endblock %}

{% block content %}
  <h1>Podaj nowe hasło</h1>
  {% if validlink %}
    <p>Wprowadź swoje nowe hasło.<br />Dla pewności, trzeba zrobić
      to dwa razy.</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Potwierdzam!"></p>
    </form>
  {% else %}
    <p>Coś poszło nie tak. Spróbuj poprosić o reset hasła
      <a href="{% url 'password_reset' %}">jeszcze raz</a>.</p>
  {% endif %}
{% endblock %}
